<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PostIT!!" , root_path , class:"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ABOUT US" , home_about_path %></li>
        <% if current_user!= nil && current_user.superadmin_role? %>
          <li><%= link_to "ADMIN" , rails_admin_path %></li>
        <% end %>
        <li><%= link_to "POSTS" , posts_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "EDIT PROFILE", edit_user_registration_path %>
        <% else %>
        <li><%= link_to "LOG IN", user_session_path %></li>
        <li><%= link_to "REGISTER", new_user_registration_path %></li>
        <% end %>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="jumbo-head">PostIT</h1>
    <p class="jumbo-tag">Let the World see Your Views!!</p>
  </div>
</div>